@import '../scss/variables.scss';
@import '../scss/generals.scss';

.profile {
    width: 20%;
    margin: auto;
    background: $darkBlue;

    .topBlueContainer {
        display: flex;
        padding: 5vh 5%;
    }
}