<<<<<<< HEAD:frontend/src/scss/Splashscreen.scss
@import '../scss/generals.scss';

=======
>>>>>>> 48806ad1effb388b5760e182dc76fc56529616c0:frontend/src/Splashscreen.scss
.splashscreen {
    background: rgb(136, 152, 255);
    background: linear-gradient(180deg, rgba(136, 152, 255, 1) 0%, rgba(43, 71, 252, 1) 100%);
    margin: auto;
    // width: 20%;
    padding: 30vh 0;

    h1 {
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
    }
}