@import '../scss/generals.scss';
// @import Placeholder '../img/Placeholder.png';

.wallet {
    background: $darkBlue;

    .topBlueContainer {
        display: flex;
        padding: 5vh 5%;

        h4 {
            margin: auto;
        }
    }

    .whiteContainer {
        background: white;
        border-radius: 30px 30px 0 0;

        section {

            /* Total Balance + Transactions Element Names */
            p {
                padding: 5vh 0 3vh 0;
            }

            /* $2,548.00 (zur Orientierung) */
            h2 {
                padding-bottom: 5vh;
            }
        }

        .addPaySendGroup {
            display: flex;
            justify-content: space-evenly;
            margin: auto;
            padding-bottom: 10vh;
            font-size: 14px;
            a{
                text-decoration: none;
                color: #000;
            }
        }

        /* Transactions History */
        .transactionsHistory {
            padding: 5vh 5%;
            background: white;
            h6 {
                text-align: left;
                font-size: 1rem;
            }
            .transaction_header{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                a{
                    text-decoration: none;
                    font-size: 14px;
                }
           
            }
            
       
    
            .transaction_item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1vh 0;
                .transaction_amount{
                    font-size: 18px;
                }
                .transaction_headline{
                    display: flex;
                    align-items: center;
                    .transaction_icon{
                     padding: 0.8rem 1rem;
                        background-color: #dddddd;
                        opacity: 0.8;
                        border-radius: 10px;
                        margin-right: 8px;
                    }
                }
            }
        }

        // .transactionsHistory::before {
        //     content: 'Placeholder';
        // }
    }

}