@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ===============================
//      GENERAL HEADLINES
// ===============================

body {
    font-family: 'Inter', sans-serif;
}

/* Spend Smarter Save More, Login, Sign Up */
h1 {
    color: $darkBlue;
}

/* White headlines: Profile, Add Income, Add Expense */
h2 {
    color: #444444;
}

/* Login Labels */
h3 {
    color: #666666;
}

/* Already have an account? */
h4 {
    color: #fff;
}

/* Profile Information */
h5 {
    color: #000;
}

p {}