// ===============================
//             COLORS
// ===============================

// Splash Screen
// background: rgb(136,152,255);
// background: linear-gradient(180deg, rgba(136,152,255,1) 0%, rgba(43,71,252,1) 100%);

$darkBlue: #2B47FC;
$lightBlue: #8898FF;
$babyBlue: #8898FF33;
$bgGreen: #00B495;
$bgRed: #E4797F;
$incomeGreen: #25A969;
$expensesRed: #F95B51;
$white: #E5E5E5;
$iconsGrey: #AAAAAA;